---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Personas & Storyboarding">
  <main>
    <Card title="Back" body="" href="/" classes="fixed" external={false} />
    <h1 class="center">
      <span class="text-gradient">Brown Dining Website Redesign</span>
    </h1>
    <div class="body sidemargins">
      <p class="center top-margin">
        <i>
          A website many of us use every day, the Brown Dining website is used
          to check meal times and meal contents.
        </i>
      </p>
      <div class="center">
        <a
          href="https://dining.brown.edu/"
          rel="noopener noreferrer"
          target="_blank"
        >
          <img class="image" width="75%" src="../media/original.png" />
        </a>
        <p>
          <a
            href="https://dining.brown.edu/"
            rel="noopener noreferrer"
            target="_blank"
          >
            <i>Figure 1. Current Brown Dining Services website</i>
          </a>
        </p>
      </div>

      <div class="section" style="width: 70%">
        <h2>
          <span class="text-gradient">Why did I choose this website?</span>
        </h2>
        <p>
          Years of using this website made me frustrated with its poor design,
          specifically the amount of scrolling to get to the menu, the lack of
          memorability, etc.
        </p>
      </div>
      <div class="section" style="width: 70%">
        <h2><span class="text-gradient">Observed Problems</span></h2>
        <div class="bottom-margin">
          <br />
          <b>Usability Issues:</b>
          <ul>
            <li>Too much wasted space, both in page and in navigation bars</li>
            <li>The horizontal menu bar with an arrow cannot be clicked.</li>
          </ul>
        </div>
        <div class="bottom-margin">
          <b>Learnability Issues:</b>
          <ul>
            <li>
              Filters do not show as active when outside the "FILTERS" menu
            </li>
            <li>"MENU ICON LEGEND" is out of view</li>
            <li>Too many menu items</li>
          </ul>
        </div>
        <div class="bottom-margin">
          <b>Memorability Issues:</b>
          <ul>
            <li>
              Does not feature name of website/does not mention Brown University
            </li>
          </ul>
        </div>
        <div>
          <b>Conceptual Model Disparity:</b><br />
          The website aims to create an experience with its large images and multitude
          of links, but it fails to acknowledge that it is truly used merely as an
          informational resource.
          <p></p>
        </div>
      </div>
      <div class="section" style="width: 70%">
        <h2>
          <span class="text-gradient">Accessibility Testing</span>
        </h2>
        <br />
        Listed below are the accessibility issues found with the current website
        by WebAIM WAVE.
        <ul>
          <li>
            <span class="text-gradient">3</span> Aria errors on hidden elements
          </li>
          <li>
            <span class="text-gradient">4</span> Contrast errors
          </li>
          <li>
            <span class="text-gradient">126</span> redundant title/text/alt text
          </li>
          <li><span class="text-gradient">67</span> Long alt text</li>
        </ul>
        <p>
          I disagree with the contrast errors, which are: dark grey against
          white, and white against brown. The other problems are not apparent to
          me as an abled user, but I see the redundancies, long alt texts, and
          aria errors to be large problems in convenience and function for those
          who use screenreaders.
        </p>
      </div>
      <div class="section">
        <h2 class="bottom-margin">
          <span class="text-gradient">Visual Style Guide</span>
        </h2>
        <img src="../media/UI Style Guide.svg" />
        <p>
          Note: the check mark open icon was mangled when transferring to .svg
          format. I assure you it looks normal in my design.
        </p>
      </div>
      <div
        class="section"
        style="display:flex; flex-direction: column; align-items: center;"
      >
        <h2><span class="text-gradient">Wireframes</span></h2>
        <p></p>
        <span class="text-gradient" style="text-align: center; display: block">
          Desktop
        </span>
        <img
          width="95%"
          style="background-color: #E5E5E5; padding: 0.5rem;"
          src="../media/Desktop_LF.png"
        />
        <p></p>
        <div style="display: flex; flex-direction: row;">
          <div
            style="display: flex; flex-direction: column; align-items: center"
          >
            <span class="text-gradient">Tablet</span><br />
            <img width="65%" src="../media/Tablet_LF.png" />
          </div>
          <div
            style="display: flex; flex-direction: column; align-items: center"
          >
            <span class="text-gradient">Mobile Phone</span><br />
            <img width="52%" src="../media/iPhone_LF.png" />
          </div>
        </div>
      </div>
      <div
        class="section"
        style="display:flex; flex-direction: column; align-items: center;"
      >
        <h2><span class="text-gradient">Hi-fi Prototypes</span></h2>
        <p></p>
        <span class="text-gradient" style="text-align: center; display: block">
          Desktop
        </span>
        <img
          width="100%"
          src="../media/Desktop_HF.svg"
          style="background-color: #E5E5E5; padding: 0.5rem;"
        />
        <p></p>
        <div style="display: flex; flex-direction: row;">
          <div
            style="display: flex; flex-direction: column; align-items: center"
          >
            <span class="text-gradient">Tablet</span><br />
            <img width="75%" src="../media/Tablet_HF.svg" />
          </div>
          <div
            style="display: flex; flex-direction: column; align-items: center"
          >
            <span class="text-gradient">Mobile Phone</span><br />
            <img width="52%" src="../media/iPhone_HF.svg" />
          </div>
        </div>
      </div>
      <div style="display:flex; justify-content: center;" class="bottom-margin">
        <Card
          title="Responsive Redesign"
          body=""
          href="/brown-dining-redesign"
          classes=""
          external={true}
        />
      </div>
    </div>
    <div
      style="display:flex; flex-direction: column; align-items: center; justify-content: center;"
    >
      <div class="section">
        <div class="center" style="justify-content: center;">
          <p>
            Thanks for visiting my project! I hope you enjoyed my critique
            process and redesign. <br />
            <span class="text-gradient">♡</span>
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  main {
    color: white;
  }

  a {
    color: #62c4da;
  }

  a:visited {
    color: #da62c4;
  }

  ul {
    margin-top: 0;
  }

  h1 {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  h2 {
    margin: 0;
  }

  pre {
    display: inline;
    margin: 0;
    padding: 0;
  }

  .body {
    display: flex;
    flex-direction: column;
  }

  .center {
    text-align: center;
    width: 100%;
  }

  .sidemargins {
    margin: 0 7rem;
  }

  .image {
    margin-top: 2rem;
    background-color: white;
    padding: 1rem;
  }

  .top-margin {
    margin-top: 0.875rem;
  }

  .bottom-margin {
    margin-bottom: 1rem;
  }

  .section {
    background-color: rgb(50, 50, 50);
    padding: 0.5rem 1rem;
    border-radius: 15px;
    margin-bottom: 1rem;
    align-self: center;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }
</style>
