---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Personas & Storyboarding">
  <main>
    <h1 class="center">MacBook Air 2018 Keyboard Interface</h1>
    <div class="body sidemargins">
      <p class="center top-margin">
        <i>
          An interface many of us use every day, the keyboard is an input device
          for personal computers and laptops. 
          <br/>
          It allows users to type digital characters
          into a computer system to write words and invoke commands,
          <br/>
          for the purposes of
          editing documents, searching the internet, and more.
        </i>
      </p>
      <div class="center">
        <img class="image" src="sadserval000.github.io/media/keyboardlayout.png"/>
        <p><i>Figure 1. MacBook Air 2018 Keyboard Layout (Top View)</i></p>
        <img class="image" src="sadserval000.github.io/media/actuation.png"/>
        <p><i>Figure 2. MacBook Air 2018 Keyboard Layout (Top View)</i></p>
      </div>
      
      <h2>Interview Process</h2>
      <p>
        I observed and interviewed three individuals using this keyboard to learn about
        their experience using it. I principally wanted to focus on three areas:
      </p>
      <ul>
        <li>Comfort of use</li>
        <li>Recognizability of layout</li>
        <li>Familiarity with shortcut commands</li>
      </ul>
      <p>
        For the first metric, I primarily paid attention to how the users sat, and how they
        positioned their arms and hands while typing. For the second and third, I observed
        their behaviour following prompts and exercises. The observation period consisted of
        three steps:
      </p>
      <ol>
        <li>Perform an online typing test</li>
        <li>Copying and pasting text</li>
        <li>
          Holding down each of <pre>fn</pre>, <pre>control</pre>, <pre>option</pre>, and
          <pre>command</pre> keys, and pressing different regular characters
        </li>
      </ol>
      <h2>Observations</h2>
      <div class="bottom-margin">
        <b>User 1:</b> User appeared to be accustomed to layout of character keys, and did
        not need to look at the keyboard when typing in the online test. 73 WPM. User attempted
        to copy and paste with the control key, instead of the command key.
      </div>
      <div class="bottom-margin">
        <b>User 2:</b> User was comfortable with the Mac keyboard, but frequently looked down at
        the keys during the typing test. 40 WPM. User correctly used command key to copy and paste
        on first attempt. Appeared to be caught off-guard by some of the more obscure functions, like <pre>option+h</pre>.
      </div>
      <div>
        <b>User 3:</b> User performed typing test with relative ease. 75 WPM. User had good working
        knowledge of different commands, for instance: the difference between <pre>command+w</pre> 
        and <pre>command+q</pre>. Position of arms looked unnatural/uncomfortable.
      </div>
      <h2>Interview Questions</h2>
      <ol>
        <li>Did you find this keyboard to be comfortable to type on?</li>
        <li>How does the feeling of pressing keys compare to keyboards you're used to?</li>
        <li>Is the compressed keyboard layout comfortable for your hands?</li>
        <li>Do you find yourself wishing that any of the keys were larger, smaller, or placed in different locations?</li>
        <li>Is the copy + paste motion comfortable? What fingers do you use to accomplish this task?</li>
        <li>Do you regularly use MacBook keyboards? If not, do you use other keyboards, and what system are they for?</li>
        <li>Do you find that the modifier keys have consistent behaviors and functions?</li>
        <li>What commands were you already familiar with?</li>
      </ol>
      <h2>Summary</h2>
      <ul>
        <li>Users who primarily use Windows found the copying and pasting control to be awkward, and the commands unintuitive and poorly grouped.</li>
        <li>Users who primarily use Mac were comfortable with copying and pasting, but were surprised by some of the command functions.</li>
        <li>Overall, the keyboard was thought to be comfortable to type on, but some may have preferred the keys to have a bit more travel.</li>
        <li>Users agreed that there were too many modifier keys (`fn`, `control`, `option`, and `command`) with obscure functionality.</li>
      </ul>
      <h2>Personas</h2>
      <p>
        Using the information garnered by the interview and observation process, I aggregated users'
        experiences into two personas, roughly representing the main user groups of this product.
      </p>
      <div style="display:flex;">
        <div class="center">
          <img width="550px" src="sadserval000.github.io/media/ivan.jpg">
          <p><i>Figure 3. Ivan writes code on Windows/Linux keyboard layouts, and dislikes unnecessary complications.</i></p>
        </div>
        <div class="center">
          <img width="552px" src="sadserval000.github.io/media/carly.jpg">
          <p><i>Figure 4. Carly studies language arts at university, and is getting used to a MacBook as a first computer.</i></p>
        </div>
        
      </div>
      
      <h2>Storyboard</h2>
      <div class="center">
        <img width="1000px" src="sadserval000.github.io/media/storyboard.jpeg">
      </div>
      <div class="center">
        <p>
          Thanks for visiting my project! I hope you enjoyed exploring an everyday interface
          with a bit more granularity than usual.
        </p>
      </div>
    </div>
  </main>
</Layout>
<style>
  main {
    color: white;
  }

  h1 {
    margin-bottom: 0;
  }

  pre {
    display: inline;
    margin: 0;
    padding: 0;
  }
  .center {
    text-align: center;
    width: 100%;
  }

  .sidemargins {
    margin: 0 7rem;
  }

  .image {
    margin-top: 2rem;
    background-color: white;
    padding: 1rem;
  }

  .top-margin {
    margin-top: 0.875rem;
  }

  .bottom-margin {
    margin-bottom: 1rem;
  }
</style>