---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="[redacted]'s Portfolio">
	<main>
		<h1><span class="text-gradient">UI/UX Portfolio</span></h1>
		<img class="header-image" src="media/sadserval.jpg" />
		<h3>
			Hi! I'm <span class="text-gradient">[redacted]</span>, an aspiring
			software developer and user experience designer.
		</h3>
		<div class="flex-row" style="display:flex; flex-direction:row; gap:15px;">
			<div class="flex-col">
				<div class="section" style="max-width:50ch">
					<img src="thumbnails/playlister.png" />
					<div>
						<h2>
							<a href="/playlister" target="_blank" rel="noopener noreferrer">
								<span class="text-gradient">Playlister</span>
							</a>
						</h2>
						<p>
							A project originally focusing on the basics of React state, which
							I expanded to include media playback. Includes sorting, filtering,
							and aggregation of songs into a playlist.
						</p>
					</div>
				</div>
				<div class="section" style="max-width:50ch">
					<img src="thumbnails/personas.png" />
					<div>
						<h2>
							<a href="/personas"
								><span class="text-gradient">Personas and Storyboarding</span>
							</a>
						</h2>
						<p>
							A project aiming to model user interaction with a Macbook
							keyboard, having used non-Macs exclusively in the past.
						</p>
					</div>
				</div>
			</div>
			<div>
				<div class="section" style="max-width:50ch">
					<img src="thumbnails/needl.png" />
					<div>
						<h2>
							<a href="/needl">
								<span class="text-gradient">Needl: Iterative Design</span>
							</a>
						</h2>
						<p>
							A prototype for the startup Needl, a search engine for your entire
							computer. Focused on providing a clean and effective interface for
							the platform, taking into account expected usage patterns.
						</p>
					</div>
				</div>
				<div class="section" style="max-width:50ch">
					<img src="thumbnails/brown-dining-thumbnail.png" />
					<div>
						<h2>
							<a href="/brown-dining"
								><span class="text-gradient">Brown Dining Redesign</span>
							</a>
						</h2>
						<p>
							An oft-used website, the Brown University Dining Services website
							was due for a refreshed design in order to more effectively
							communicate its main content.
						</p>
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #b9b0ff, #d179c0);
	}

	h1 {
		margin: 1.5rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		padding-top: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	.header-image {
		border-radius: 50%;
		height: 250px;
		width: 250px;
		margin-bottom: 1.5rem;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	h3 {
		color: white;
		margin-top: 0;
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	.section {
		color: white;
		text-align: center;
		background-color: rgb(50, 50, 50);
		padding: 0.5rem 1rem;
		border-radius: 15px;
		margin-bottom: 1rem;
		align-self: center;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}

	h2 span {
		display: inline-block;
		transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
	}

	.section > div > h2:is(:hover, :focus-within) span {
		will-change: transform;
		transform: translateX(2px);
	}

	.section > img {
		max-width: 150px;
		max-height: 150px;
		aspect-ratio: 1;
		border-radius: 5px;
	}
</style>
