---
export interface Props {
	title: string;
	contents: bodyItem[];
}

export interface bodyItem {
	text: string;
	offsetX: number;
	offsetY: number;
}

const {title, contents} = Astro.props;
---

<div class="persona-quadrant">
	<h2 class="title">
		{title}
	</h2>
	<div class="body">
		{contents.map((ele) => {
			return (
			<div class="bodyItem" style={{top: ele.offsetY, right: ele.offsetX}}>
				<p>{ele.text}</p>
			</div>
			)
		})}
	</div>
</div>
<style>
	:root {
		--link-gradient: linear-gradient(45deg, #4f39fa, #da62c4 30%, var(--color-border) 60%);
	}

	.persona-quadrant {
		list-style: none;
		display: flex;
		padding: 0.15rem;
		background-image: var(--link-gradient);
		background-size: 400%;
		border-radius: 0.5rem;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		width: fit-content;
	}

	.persona-quadrant > .title {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: 1em 1.3em;
		border-radius: 0.35rem;
		color: var(--link-gradient);
		background-color: white;
		opacity: 0.8;
	}

	.persona-quadrant > h2 {
		margin: 0;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}

	.persona-quadrant > p {
		margin-top: 0.75rem;
		margin-bottom: 0;
	}

	.persona-quadrant > .body {

	}
</style>
